pydantic
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain_openai
streamlit
pypdf
bs4
arxiv
fitz
frontend
pymupdf
langchain_huggingface
sentence-transformers
langchain-pinecone
unstructured[all-docs]
pillow
pydantic
lxml
matplotlib
chromadb
tiktoken
tesseract
pymilvus
langchain_experimental
langchain_text_splitters
pyPDF2
chromadb
langchain_groq
duckduckgo-search